.col-lg-8.style-design {
    position: relative;
    border: 14px;
    border-style: solid;
    border-color: lightseagreen;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
}